@model VerzamelingFinished.Models.Card 

<div class="row">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-10">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Element)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Element)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">
                <img src="https://preview.redd.it/t9ly7ltc9un81.png?auto=webp&s=9ea7f72591fc13ba78772f7e926e9763ef705675" alt="Pikachu" />
            </div>
        </div>
    </div>
</div>
