@model VerzamelingFinished.Models.Deck

@{
    ViewData["Title"] = "Details";
}

<h1>cards in @Model.Name</h1>



  
    <a asp-action="Index">Back to List</a>



    <div class="card-container">
        <div class="row">
            @foreach (var item in Model.Cards)
            {
                <div class="col-md-2">
                    <div class="card" style="background-image: url('https://preview.redd.it/t9ly7ltc9un81.png?auto=webp&s=9ea7f72591fc13ba78772f7e926e9763ef705675'); background-size: cover; opacity: 0.88;">
                        <div class="card-header">
                            <h5 class="card-title"><span style="color: white; text-shadow: 1px 1px 2px black; ">@Html.DisplayFor(modelItem => item.Name)  <img src="@item.Image" /> </span></h5>


                        </div>
                        <div class="card-body">

                            <p class="card-text"><span style="color: white; text-shadow: 1px 1px 2px black;">Element: @Html.DisplayFor(modelItem => item.Element)</span></p>
                            <p class="card-text"><span style="color: white; text-shadow: 1px 1px 2px black;">Price: @Html.DisplayFor(modelItem => item.Price)</span></p>
                            <p class="card-text"><span style="color: white; text-shadow: 1px 1px 2px black;">Quantity: @Html.DisplayFor(modelItem => item.Quantity)</span></p>
                        </div>
                    
                        <div>
                            
                            <form asp-action="DeleteCardFromDeck" method="post" style="display:inline;">
                                <input type="hidden" name="deckId" value="@Model.Id" />
                                <input type="hidden" name="cardId" value="@item.Id" />
                                <button type="submit" onclick="return confirm('Are you sure you want to remove this card from the deck?');">Remove</button>
                            </form>
                        </div>
                    

                    </div>
                </div>
            }
        </div>
    </div>
